APP_MODE=mac_native

ASR_PROVIDER=local_whisper
WHISPER_RUNTIME=whisper_cpp
WHISPER_MODEL=large-v3-turbo
WHISPER_MODEL_PATH=
WHISPER_LANGUAGE=zh
WHISPER_KEEP_MODEL_LOADED=true
WHISPER_USE_METAL=true
WHISPER_USE_COREML=false
WHISPER_ENABLE_VAD=true
WHISPER_MAX_SEGMENT_SECONDS=30
WHISPER_THREADS=auto

LLM_PROVIDER=volcengine_ark
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_API_KEY=
ARK_MODEL=
ARK_TEMPERATURE=0.2
ARK_TIMEOUT_SECONDS=20

DICTATION_HOTKEY=Option+Space
EDIT_SELECTION_HOTKEY=Option+Shift+Space

SAVE_HISTORY=true
SAVE_AUDIO=false
RESTORE_CLIPBOARD_AFTER_PASTE=true
DEFAULT_STYLE_PROFILE=auto
LOG_LEVEL=info
